@import "../../../../default";

$background: #24273a;
$border: #494d64;
$lines: #f0c6c6;
$text: #cad3f5;
$header-text: #a5adcb;
$special-text: #c6a0f6;
$hover: #f5bde6;
$links-background: #c6a0f633;
$highlight: #939ab74d;

$callouts: (
  "note": (
    "color": #c6a0f6,
    "border": #c6a0f644,
    "background": #c6a0f610,
  ),
  "abstract": (
    "color": #f5bde6,
    "border": #f5bde644,
    "background": #f5bde610,
  ),
  "info": (
    "color": #c6a0f6,
    "border": #c6a0f644,
    "background": #c6a0f610,
  ),
  "todo": (
    "color": #c6a0f6,
    "border": #c6a0f644,
    "background": #c6a0f610,
  ),
  "tip": (
    "color": #f5bde6,
    "border": #f5bde644,
    "background": #f5bde610,
  ),
  "success": (
    "color": #a6da95,
    "border": #a6da9544,
    "background": #a6da9510,
  ),
  "question": (
    "color": #eed49f,
    "border": #eed49f44,
    "background": #eed49f10,
  ),
  "warning": (
    "color": #f5a97f,
    "border": #f5a97f44,
    "background": #f5a97f10,
  ),
  "failure": (
    "color": #ed8796,
    "border": #ed879644,
    "background": #ed879610,
  ),
  "danger": (
    "color": #ed8796,
    "border": #ed879644,
    "background": #ed879610,
  ),
  "bug": (
    "color": #ed8796,
    "border": #ed879644,
    "background": #ed879610,
  ),
  "example": (
    "color": #c6a0f6,
    "border": #c6a0f644,
    "background": #c6a0f610,
  ),
  "quote": (
    "color": #939ab7,
    "border": #939ab744,
    "background": #939ab710,
  ),
);
