@import "../../../../default";

$background: #1e1e2e;
$border: #45475a;
$lines: #f5e0dc;
$text: #cdd6f4;
$header-text: #a6adc8;
$special-text: #cba6f7;
$hover: #f5c2e7;
$links-background: #cba6f733;
$highlight: #9399b24d;

$callouts: (
  "note": (
    "color": #cba6f7,
    "border": #cba6f744,
    "background": #cba6f710,
  ),
  "abstract": (
    "color": #f5c2e7,
    "border": #f5c2e744,
    "background": #f5c2e710,
  ),
  "info": (
    "color": #cba6f7,
    "border": #cba6f744,
    "background": #cba6f710,
  ),
  "todo": (
    "color": #cba6f7,
    "border": #cba6f744,
    "background": #cba6f710,
  ),
  "tip": (
    "color": #f5c2e7,
    "border": #f5c2e744,
    "background": #f5c2e710,
  ),
  "success": (
    "color": #a6e3a1,
    "border": #a6e3a144,
    "background": #a6e3a110,
  ),
  "question": (
    "color": #f9e2af,
    "border": #f9e2af44,
    "background": #f9e2af10,
  ),
  "warning": (
    "color": #fab387,
    "border": #fab38744,
    "background": #fab38710,
  ),
  "failure": (
    "color": #f38ba8,
    "border": #f38ba844,
    "background": #f38ba810,
  ),
  "danger": (
    "color": #f38ba8,
    "border": #f38ba844,
    "background": #f38ba810,
  ),
  "bug": (
    "color": #f38ba8,
    "border": #f38ba844,
    "background": #f38ba810,
  ),
  "example": (
    "color": #cba6f7,
    "border": #cba6f744,
    "background": #cba6f710,
  ),
  "quote": (
    "color": #9399b2,
    "border": #9399b244,
    "background": #9399b210,
  ),
);
